<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Customers</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<div class="container mt-5">
    <h1 class="mb-5">Add a New Customer</h1>

    <form th:action="@{/customers/save}" th:object="${customer}" method="post">
        <div class="mb-3">
            <label for="firstName" class="form-label">First name</label>
            <input type="text" th:field="*{firstName}" class="form-control" id="firstName">
        </div>
        <div class="mb-3">
            <label for="lastName" class="form-label">Last name</label>
            <input type="text" th:field="*{lastName}" class="form-control" id="lastName" >
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" th:field="*{email}" class="form-control" id="email" aria-describedby="emailHelp">
        </div>

        <button type="submit" class="btn btn-primary btn-lg">Save</button>
        <a th:href="@{/customers/list}" class="btn btn-secondary btn-lg">Cancel</a>
    </form>


</div>
</body>
</html>