<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Customers</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<div class="container mt-5">
    <h1>List of Customers</h1>

    <div class="container mt-5 mb-5">
        <a th:href="@{/customers/add}" class="btn btn-primary btn-lg">Add Customer</a>

    </div>

    <table class="table mt-5">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">ID</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email
            <th>Action</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="cust, iStat : ${customers}">
            <th th:text="${iStat.count}"></th>
            <td th:text="${cust.getId()}"></td>
            <td th:text="${cust.getFirstName()}"></td>
            <td th:text="${cust.getLastName()}"></td>
            <td th:text="${cust.getEmail()}"></td>
            <td><a class="btn btn-primary btn-sm">Edit</a></td>
            <td><a class="btn btn-danger btn-sm">Delete</a></td>

        </tr>
        </tbody>
    </table>
</div>
</body>
</html>